<footer
  class="text-white w-100" 
  style="background-color:  antiquewhite; bottom: 0 ; z-index: 21 !important;color:black"
>
  <div class="container" >
    <div class="row" style="padding: 50px 0px; margin-left: 0 !important">
        <div class="col-lg-2 col-md-3 ">
            <div>
              <h1>LOGO</h1>
              <div class="social mt-4">
                <label style="color: black;">batchatgat&#64;gmail.com</label>
              </div>
            </div>
          </div>
      <div class="col-lg-3 col-md-3 mt-2 mt-lg-0">
        <h4>Information</h4>
        <div>
          <ul style="margin: 0px !important; padding: 0px; list-style: none">
            <li class="mt-2">
              <a routerLink="">Home</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Why Us</a>
            </li>
            <li class="mt-2">
              <a routerLink="">How it Works</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Premium Member</a>
            </li>
            <li class="mt-2">
              <a routerLink="">About</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Term & Conditions</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Contact Us</a>
            </li>
            <li class="mt-2">
              <a routerLink="">FAQ</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-2 mt-2 mt-lg-0">
        <h4>Useful Links</h4>
        <div>
          <ul style="margin: 0px !important; padding: 0px; list-style: none">
            <li class="mt-2">
              <a routerLink="">Shipping Method</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Privacy Policy</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Terms and Condition</a>
            </li>
           
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 mt-2 mt-lg-0 contacts">
        <h4>Categories</h4>
        <div>
            <ul style="margin: 0px !important; padding: 0px; list-style: none">
                <li class="mt-2">
                  <a routerLink="">Food</a>
                </li>
                <li class="mt-2">
                  <a routerLink="">Clothes</a>
                </li>
                <li class="mt-2">
                  <a routerLink="">Home Decors</a>
                </li>
                <li class="mt-2">
                    <a routerLink="">Rentals</a>
                  </li>
                 
              </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 mt-2 mt-lg-0">
        <div>
          <h4>Contact</h4>
          <div class="social mt-4">
            <ul
              class="d-flex"
              style="
                list-style: none;
                margin: 0px !important;
                padding: 0px;
                cursor: pointer;
              "
            >
              <li class="mx-2">
                <a href="#" target="_new" style="padding: 10px 12px;"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li class="mx-2">
                <a href="#" target="_new"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="mx-2">
                <a href="#" target="_new"
                  ><i class="fa-brands fa-whatsapp"></i
                ></a>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </div>

 
  </div>
</footer>




