
.banner-container{
  max-width: 100%;
  --bs-gutter-x: 0%;
  position: relative;
  text-align: center;
}

.bg-image{
  width:100%;
  padding-top:42%;
  background: url('/images/banner.jpeg') no-repeat center;
  background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

img{
    object-fit: contain;
    padding: 10px;
  }
  
  .card-body p {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card{
    position: relative;
  }
  .move{
    position: absolute;
    top: 10px;
    right: 15px;
  }
  
  h1{
    color:red;
}

label{
  color: white;
}

.scrolling-wrapper{
	overflow-x: auto;
}

/* Slider code start*/

body {
	align-items: center;
	background: #E3E3E3;
	display: flex;
	height: 100vh;
	justify-content: center;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 200px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

/* Slider code end*/

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}
.center-text{
  text-align: center;
  
}
.center {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
p{
  font-size: 28px;
  font-weight: bolder;
}
@media (max-width:576px){
  .card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }
  p{
    font-size: 16px;
  }
}